/*colors for this site at https://color.adobe.com/Copy-of-Avant-color-theme-4814328/*/
@font-face {
	font-family: Akashi;
	src: url(../fonts/Akashi.ttf);
}
.navbar-brand {
	font-family: Akashi;
	font-weight: normal;
	font-size: 24px;
	padding: 22px 15px 22px 22px;
}
.fw {
	padding: 0; width:100%;
}
.pad-top-xl {
	padding-top: 100px;
}
.jumbotron {
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);		
}
.live-concert {
	background-image: 
		linear-gradient(
			rgba(0, 0, 0, 0.2), 
			rgba(0, 0, 0, 0.2)
		),
		url(../img/live-concert.jpg)
	;
	background-position: 50% 75%;
	background-repeat: no-repeat;
	background-size: cover;
}

/*body {
	padding-top: 70px;
}
.jumbotron {
	margin-bottom: 0px;
	background-image: url(../img/jumbotron.jpg);
	background-position: 0% 25%;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}
.bio {
	font-size: 1.4em;
	font-weight:500;
	margin-top: 0.5em;
}
.pad-top {
	padding-top: 50px;
}
.pad-top-sm {
	padding-top: 15px;
}
.pad-bt-sm {
	padding-bottom: 15px;
}
.asterisk {
	color: #df691a;
}
.maxx {
	max-width: 225px;
}
.recent {
	max-width: 250px;
}
.media-bio {
	max-width: 800px;
	margin: 0 auto;
}
.img-bio {
	max-width: 250px;
}*/