/*body {
    padding-top: 70px;
}*/
.jumbotron {
    margin-bottom: 0px;
    background-image: url(../img/jumbotron.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.bio {
    font-size: 1.4em;
    font-weight:500;
    margin-top: 0.5em;
}
.pad-top {
    padding-top: 50px;
}
.pad-top-sm {
    padding-top: 15px;
}
.pad-top-xl {
    padding-top: 100px;
}
.pad-bt-sm {
    padding-bottom: 15px;
}
.asterisk {
    color: #df691a;
}
.maxx {
    max-width: 225px;
}
.recent {
    max-width: 250px;
}
.media-bio {
    max-width: 800px;
    margin: 0 auto;
}
.img-bio {
    max-width: 250px;
}