            <!--Copyright notice-->            
			<div class="row clearfix pad-top-xl">
				<div class="col-md-12 column">
					<p class="text-center">
						<small>Copyright &copy;
                            <script>
                            <!--
                            var year=new Date();
                            year=year.getYear();
                            if (year<1900) year+=1900;
                            document.write(year);
                            //-->
                            </script>
                        Karl Nippoldt. All Rights Reserved.
                        </small>
					</p>
				</div>
			</div>