<!--active page navbar http://stackoverflow.com/a/18748127-->
<!--navigation-->
			<nav class="navbar navbar-default navbar-static-top" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
						<b><a class="navbar-brand" href="{{ site.url }}/">Superb Media</a></b>
					</div>
					<div class="collapse navbar-collapse" id="navbar-collapse">
						<ul id="navlist" class="nav navbar-nav">
							{% if page.active == "index" %}
								<li class="active"><a href="#" class="pointer">Home</a></li>
							{% else %}
								<li><a href="{{ site.url }}/">Home</a></li>
							{% endif %}
							{% if page.active == "about" %}
								<li class="active"><a href="#" class="pointer">About</a></li>
							{% else %}
								<li><a href="{{ site.url }}/about.html">About</a></li>
							{% endif %}
							<li><a class="typeform-share link" href="https://karlnippoldt.typeform.com/to/sS2l3F" data-mode="2" target="_blank">Contact</a></li>
						</ul>
						<div class="pad-right-30"><a type="button" class="navbar-right typeform-share button btn btn-success navbar-btn text-uppercase" href="https://karlnippoldt.typeform.com/to/wCvDBZ" data-mode="2" target="_blank">Schedule an event</a></div>
						<div class="visible-xs pad-bt-sm"></div>
					</div>
				</div>
			</nav>