<!--signup modal-->
            <div class="modal fade" id="signup">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Subscribe to Runner's Life</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group text-center">
                              <form accept-charset="UTF-8" action="https://madmimi.com/signups/subscribe/115230" method="post" target="_parent">
                                 <div style="margin:0;padding:0;display:inline">
                                    <input name="utf8" type="hidden" value="?"/>
                                    <input name="authenticity_token" type="hidden" value="4Ru1aOUooUzEM2huXEmpDlWNhfx3ThqmT3FJeqZzIdE="/>
                                 </div>
                                 <div class="indicates-required text-right"><span class="asterisk">*</span> indicates required</div>
                                 <div class="input-group pad-top-sm">
                                    <span class="input-group-addon"><span class="fa fa-envelope"></span>&nbsp;&nbsp;Email Address <span class="asterisk">*</span></span>
                                    <input id="signup_email" name="signup[email]" type="email" class="form-control" required>
                                 </div>
                                 <div class="input-group pad-top-sm">
                                    <span class="input-group-addon"><span class="fa fa-user"></span>&nbsp;&nbsp;First Name</span>
                                    <input id="signup_first_name" name="signup[first_name]" type="text" class="form-control">
                                 </div>
                                 <div class="input-group pad-top-sm">
                                    <span class="input-group-addon"><span class="fa fa-users"></span>&nbsp;&nbsp;Last Name</span>
                                    <input id="signup_last_name" name="signup[last_name]" type="text" class="form-control">
                                 </div>
                                 <div class="pad-top-sm">
                                    <button type="submit" class="submit btn btn-primary btn-block text-uppercase" value="Subscribe" id="webform_submit_button"><span class="fa fa-paper-plane"></span>&nbsp;&nbsp;&nbsp;Subscribe</button>
                                 </div>
                              </form>
                           </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->